/**
 * 这是一个简单的适配Markdown内容的样式表
 * 可以修饰.md内的markdown转换成的HTML
 * 修改从:github2.css
 */

/*
 * 表格对齐:
 */
.md_table_left{text-align: left;}
.md_table_mid{text-align: center;}
.md_table_right{text-align: right;}

.md {
	font-size: 14px;
	line-height: 1.6;
}

.md a {
	color: #4183C4;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
	margin: 20px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
}

.md h1 code,
.md h2 code,
.md h3 code,
.md h4 code,
.md h5 code,
.md h6 code{
	font-size: inherit;
}

.md h1 {
	font-size: 28px;
	color: black;
}
.md h2 {
	font-size: 24px;
	color: black;
}
.md h3 {
	font-size: 18px;
}
.md h4 {
	font-size: 16px;
}
.md h5 {
	font-size: 14px;
}
.md h6 {
	color: #777777;
	font-size: 14px;
}

.md p,
.md blockquote,
.md ul,
.md ol,
.md dl,
.md li,
.md table,
.md pre {
	margin: 15px 0;
}

.md hr{
	background-color: #EEE;
	border: none;
	height: 4px;
	padding: 0;
}

.md > h2:first-child {
	margin-top: 0;
	padding-top: 0;
}

.md > h1:first-child {
	margin-top: 0;
	padding-top: 0;
}

.md > h1:first-child + h2 {
	margin-top: 0;
	padding-top: 0;
}

.md > h3:first-child,
body > h4:first-child,
body > h5:first-child,
body > h6:first-child {
	margin-top: 0;
	padding-top: 0;
}

.md li p.first {
	display: inline-block;
}

.md li {
	margin: 0;
}

.md ul,
.md ol {
	padding-left: 30px;
}

.md ul :first-child,
.md ol :first-child {
	margin-top: 0;
}

.md blockquote {
	border-left: 6px solid #ccc;
	padding: 0 15px;
	color: #777777;
	background-color: #f9f9f9;
}

.md blockquote > :first-child {
	margin-top: 0;
}

.md blockquote > :last-child {
	margin-bottom: 0;
}

.md table {
	padding: 0;
	border-collapse: collapse;
}

.md table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

.md table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

.md table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	margin: 0;
	padding: 6px 13px;
}

.md table tr td {
	border: 1px solid #cccccc;
	margin: 0;
	padding: 6px 13px;
}

.md table tr th :first-child,
.md table tr td :first-child {
	margin-top: 0;
}

.md table tr th :last-child,
.md table tr td :last-child {
	margin-bottom: 0;
}

.md img {
	max-width: 100%;
}

.md code {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

.md pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

.md pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

.md sup {
	font-size: 0.83em;
	vertical-align: super;
	line-height: 0;
}

.md * {
	-webkit-print-color-adjust: exact;
}

@media print {
	.md table,
	.md pre {
		page-break-inside: avoid;
	}
	.md pre {
		word-wrap: break-word;
	}
}